.conda
.vscode
.venv
.idea

test
train
valid


# zipped dataset
archive.zip 
logs
__pycache__/

# Jupyter Notebook checkpoints
*.ipynb_checkpoints

.devcontainer/

wildfire_predictions.db
uploaded_images/
cam_results/